$font: 'Nunito Sans', sans-serif;

$bg-body: #fff;
$bg-gray: #F1F1F1;
$bg-orange: #FE5233;
$bg-orange-hover: #EC2B08;
$bg-purple: #9D68F8;
$bg-purple-hover: #833AFF;

$color-body: #19191B;
$color-gray: #7D7D7D;


$width-container: 1170px;
$pd-container: 16px;

$md-desktop-lg: 1799.98px;
$md-desktop-md: 1389.98px;
$md-desktop: 1189.98px;
$md-tablet: 979.98px;
$md-tablet-sm: 767.98px;
$md-mobile-lg: 609.98px;
$md-mobile: 478.98px;
$md-mobile-sm: 399.98px;



$header-h: 100px;
$header-h-m: 156px;