<footer class="footer">
    <div class="container">
        <div class="footer__wrap footer__top">
            <div class="footer__col footer__col--left">
                @@if (active_menu === 'main'){
                    <div class="footer__logo"><img src="images/logo-white.svg" alt=""></div>
                }
                @@if (active_menu !== 'main'){
                    <a href="/" class="footer__logo"><img src="images/logo-white.svg" alt=""></a>
                }
            </div>
            <div class="footer__col footer__col--center">
                <div class="footer__gmi">
                    <ul class="footer__menu">
                        <li><a href="">Поиск курсов</a></li>
                        <li><a href="">Все школы</a></li>
                        <li><a href="">Онлайн-тесты</a></li>
                        <li><a href="">Блог</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>

                    <div class="footer__info">
                        <div class="footer__info-row footer__info-label">Электронная почта</div>
                        <div class="footer__info-row"><a href="mailto:eduhub@gmail.com">eduhub@gmail.com</a></div>
                        <div class="footer__info-row footer__info-label">Телефон</div>
                        <div class="footer__info-row"><a href="tel:+375296370016">+375 29 637-00-16</a></div>
                        <div class="footer__info-row footer__info-label">Главный офис</div>
                        <div class="footer__info-row">г. Минск, ул. Карла Маркса, 32</div>
                    </div>
                </div>
            </div>
            <div class="footer__col footer__col--right">
                <button class="btn w-all" data-open-popup="call">Заказать звонок</button>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__wrap ">
                <div class="footer__col footer__col--left">
                    <a href="" class="footer__polit">Публичная оферта</a>
                </div>

                <div class="footer__col footer__col--center">
                    <div class="footer__sname">Дизайн, разработка и продвижение: K2STUDIO</div>
                </div>

                <div class="footer__col footer__col--right">
                    <div class="footer__copy">Copyright © 2022 EDUhub</div>
                </div>
            </div>
        </div>
    </div>
</footer>


<a href="#" class="scroll_top scroll-top" data-scroll="top"></a>